@import (reference) '~antd/es/style/themes/index';

.subTitle {
  color: #fff;
  font-size: 44px;
  line-height: 32px;
  text-align: center;
  margin: 24px auto 48px auto;
  font-weight: lighter;
}

.writeBtn {
  background: @primary-color;
  border: #ffffff 2px solid;
  color: #fff;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 12px 0;
}

.writeBtn:hover {
  color: #fff;
  background-color: @primary-color-hover
}

.content {
  margin-top: 256px;
}

@media (min-width: @screen-xxl-min) {
  .content {
    margin-top: 48px;
  }
}